#colOne{
    border: 3px solid snow;
    height: 100%;
}
#colTwo{
    border: 3px solid snow;
    height: 100%;
}
#colThree{
    border: 3px solid snow;
    height: 100%;
}
#sec4{
    background-color:#e6f7ff;
    padding-top: 8vh;
}
@media screen and (max-width:1200px){
    #boy{
        display: none;
    }
    #girl{
        display: none;
    }
}
.thumbnail{
    border-radius: 50px;
    height: 50vh;
}
.btn-primary{
    border-radius: 25px;
    background-color:rgb(246,202,71) !important;
    border-color: #e6f7ff !important;
}
.thumbnail:hover{
    box-shadow:3px 3px 3px 3px #ddd !important;
    transform: translateY(-3%);
    transition: 1s ease-in-out;
}
.content-section .content .subheading, .content-section .content .paragraph{
    padding-top: 4vh;
}
#specialContent{
    font-size: 1.5em;
}
.Part{
    font-size: 20px;
    display: block;
    padding-left: 2vw;
    color: aquamarine;
}
.HeadPart{
    color: bisque;
}