.Quick-navigation {
    position: fixed;
    z-index: 1;
    margin: 0;
    top: 20%;
    left: 2% !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display:none;
} 

.Quick-navigation_word {
    float: left;
}
#Quick_A {
    top: 10vw;
    position: relative;
}
#Quick_B {
    top: 12.65vw;
    position: relative;
}
#Quick_C {
    top: 15.75vw;
    position: relative;
}
#Quick_D {
    top: 19vw;
    position: relative;
}
#Quick_F {
    top: 22.25vw;
    position: relative;
}

#Quick_A,
#Quick_B,
#Quick_C,
#Quick_D,
#Quick_F {
    text-align: left;
    padding-left: 1.5vw;
    color: #000707 !important;
    text-decoration: none;
    font-size: 0.5vw;
    line-height: 1vw;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    display: block;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
}

#Quick_A:hover,
#Quick_B:hover,
#Quick_C:hover,
#Quick_D:hover,
#Quick_F:hover {
    font-weight: bolder;
}

.current+a {
    font-weight: bolder;
}

.Quick-navigation-item>img {
    display: none;
}
.Quick-navigation-item.current>img {
    display: block;
    position: absolute;
}

.Quick-navigation-item img {
    top: 10vw;
    height: 10vw;
    margin: 0;
    float: left;
    position: relative;
}
.Quick-navigation_word>img {
    top: 10vw;
    height: 10vw;
    margin: 0;
    float: left;
    position: relative;
}
@media screen and (max-width: 1400px) {
    .feature {
        display: none;
    }
    p{
        font-size: 18px !important;
    }
}
@media screen and (max-width:769px){
    .Quick-navigation{
        opacity: 0;
    }
}
@media screen and (max-width:769px){
    #topHead{
        visibility: hidden;
    }
}
@media screen and (min-width: 769px) and (max-width: 89.9375rem) {
    .Quick-navigation {
    left: 85vw;
    }
}
#Quick_A,
#Quick_B,
#Quick_C,
#Quick_D,
#Quick_F {
    font-size: 1.2vw;
}
#last{
    margin-bottom: 10vh;
}